<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Work Station IP-->
		<add key="WorkStationIp" value="192.168.111.1" />
		<!--Work Station Port-->
		<add key="WorkStationPort" value="4445" />
		<!--WorkStation WebSocket URL-->
		<add key="WorkStationWebSocket" value="ws://devjpegger.tranact.com/cable" />
		<!--JPEGger API URL/Hostname-->
		<add key="JPEGgerAPI" value="https://devjpegger.tranact.com/api/v1/" />
		<!--JPEGger API Token-->
		<add key="JPEGgerToken" value="XXX" />
		<!--Turn On/Off to Include JPEGger API Token-->
		<add key="IncludeToken" value="0" />
		<!--Files Storage Path-->
		<add key="ExecutablePath" value="C:\Program Files (x86)\EZCash\TUD2.0\" />
		<!--WorkStation YardId-->
		<add key="YardId" value="0f09c79c-f7ca-4b70-8834-182efe4913f4" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>